[submodule "cl-sanitize"]
	path = cl-sanitize
	url = https://github.com/mohe2015/cl-sanitize.git
[submodule "summernote"]
	path = summernote
	url = https://github.com/summernote/summernote/
[submodule "hunchentoot"]
	path = hunchentoot
	url = https://github.com/edicl/hunchentoot
[submodule "mathlive"]
	path = mathlive
	url = https://github.com/arnog/mathlive
[submodule "crypt_blowfish"]
	path = crypt_blowfish
	url = https://github.com/mohe2015/crypt_blowfish
[submodule "monkeylib-bcrypt"]
	path = monkeylib-bcrypt
	url = https://github.com/mohe2015/monkeylib-bcrypt
[submodule "lack"]
	path = lack
	url = https://github.com/mohe2015/lack
