[submodule "cl-sanitize"]
	path = cl-sanitize
	url = https://github.com/mohe2015/cl-sanitize.git
[submodule "monkeylib-bcrypt"]
	path = monkeylib-bcrypt
	url = https://github.com/gigamonkey/monkeylib-bcrypt.git
[submodule "summernote"]
	path = summernote
	url = https://github.com/summernote/summernote/
[submodule "hunchentoot"]
	path = hunchentoot
	url = https://github.com/edicl/hunchentoot
