ins {
  text-decoration: inherit;
  background-color: var(--green);
}
del {
  text-decoration: inherit;
  background-color: var(--red);
}

hr {
  border-width: 2px;
  border-style: inset;
  border-color: black;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-full {
 max-width: 100%;
 margin-top: 0;
 margin-bottom: 0;
 height: 100%;
}
.word-wrap {
  word-wrap: break-word; 
}

/* editor improvements */
.note-editable img {
    max-width: 100%;
}
article img {
    max-width: 100%;
}


.note-editable h1 {
    text-align: center !important;
}
article h1 {
    text-align: center !important;
}


.note-editable h2 {
    text-align: center !important;
}
article h2 {
    text-align: center !important;
}


.note-editable h3 {
    text-align: center !important;
}
article h3 {
    text-align: center !important;
}


.note-editable h4 {
    text-align: center !important;
}
article h4 {
    text-align: center !important;
}


.note-editable h5 {
    text-align: center !important;
}
article h5 {
    text-align: center !important;
}


.note-editable h6 {
    text-align: center !important;
}
article h6 {
    text-align: center !important;
}

 .closable-badge {
  background-color: var(--success);
  border-radius: .25em;
  padding: 0.2em;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.closable-badge-label {
  margin-right: 0.25em;
}

.ML__keyboard {
    z-index: 2000 !important;;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.fullscreen article {
    height: 100%;
}

article p {
    margin-bottom: 0;
}
