ins {
  text-decoration: inherit;
  background-color: var(--green);
}
del {
  text-decoration: inherit;
  background-color: var(--red);
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-full {
 max-width: 100%;
 margin-top: 0;
 margin-bottom: 0;
 height: 100%;
}
.word-wrap {
  word-wrap: break-word; 
}

/* editor improvements */
.note-editable img {
    max-width: 100%;
}
article img {
    max-width: 100%;
}


.note-editable h1 {
    text-align: center !important;
}
article h1 {
    text-align: center !important;
}


.note-editable h2 {
    text-align: center !important;
}
article h2 {
    text-align: center !important;
}


.note-editable h3 {
    text-align: center !important;
}
article h3 {
    text-align: center !important;
}


.note-editable h4 {
    text-align: center !important;
}
article h4 {
    text-align: center !important;
}


.note-editable h5 {
    text-align: center !important;
}
article h5 {
    text-align: center !important;
}


.note-editable h6 {
    text-align: center !important;
}
article h6 {
    text-align: center !important;
}
