<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.css?v={% file-hash "static/bootstrap.css" %}">
    <link rel="stylesheet" href="/all.css?v={% file-hash "static/all.css" %}">
    <link rel="stylesheet" href="/index.css?v={% file-hash "static/index.css" %}">
    <title>Spickipedia</title>
  </head>
  <body>
      <template id="multiple-choice-answer-html">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Check this custom</label>
        </div>
      </template>
  
      <template id="multiple-choice-question">
        <div class="multiple-choice-question">
          <form>
            <div class="form-group">
              <input type="text" class="form-control question" placeholder="Frage eingeben">
            </div>
          
          <div class="responses">
          
          </div>

            <button type="button" class="btn btn-primary mb-1 add-response-possibility">Antwortmöglichkeit hinzufügen</button>
        </form>
        <hr />
      </div>
    </template>
  
    <template id="text-question">
      <div class="text-question">
          <form>
            <div class="form-group">
              <input type="text" class="form-control question" placeholder="Frage eingeben">
            </div>
            <div class="form-group">
              <input type="text" class="form-control answer" placeholder="Antwort eingeben">
            </div>
        </form>
        <hr />
      </div>
    </template>
    
      <template id="multiple-choice-response-possibility">
       <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input class="multiple-choice-response-correct" type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <input type="text" class="form-control multiple-choice-response-text" aria-label="Text input with checkbox">
        </div>
      </template>
  
      <template id="search-result-template">
        <a class="list-group-item list-group-item-action history-pushState">
          <div class="">
            <div class="">
              <h5 class="mt-0 s-title">Media heading</h5>
              <div class="search-result-summary word-wrap"></div>
            </div>
          </div>
        </a>
    </template>
    
    <template id="history-item-template">
      <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 history-username">Moritz Hedtke</h5>
            <small class="history-date">vor 3 Tagen</small>
          </div>
          <p class="mb-1 history-summary">Ein paar wichtige Infos hinzugefügt</p>
          <small><span class="history-characters">50.322</span> Zeichen<span class="text-success d-none">+ 50 Zeichen</span></small>
          <div class="btn-group w-100" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark history-show history-pushState"><i class="fas fa-eye"></i></button>
            <button type="button" class="btn btn-outline-dark history-diff history-pushState"><i class="fas fa-columns"></i></button>
          </div>
        </a>
    </template>
    
    <template id="articles-entry">
      <li><a class="history-pushState" href="#">Hauptseite</a></li>
    </template>
  
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand history-pushState" href="/wiki/Hauptseite">
      Spickipedia
      </a>
      <div class="login-hide">
        <a class="btn d-inline d-md-none edit-button"><i class="fas fa-pen"></i></a>
        <a class="btn d-inline d-md-none search-button history-pushState" href="/search"><i class="fas fa-search"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item d-none d-md-block">
            <a class="nav-link search-button history-pushState" href="/search">Suchen</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a class="nav-link edit-button" href="#">Bearbeiten</a><!-- TODO only enable when showing an article-->
          </li>
          <li class="nav-item">
            <a class="nav-link history-pushState" href="/logout" id="logout">Abmelden</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
    
    <div style="display: none;" class="container my-tab position-absolution" id="edit-quiz">
      <h1 class="text-center">Quiz ändern</h1>
      
      <div id="questions">
      
      </div>
      
      <button type="button" class="btn btn-primary mb-1 create-multiple-choice-question">Multiple-Choice-Frage hinzufügen</button>
      <button type="button" class="btn btn-primary mb-1 create-text-question">Frage mit Textantwort hinzufügen</button>
      <button type="button" class="btn btn-primary mb-1 save-quiz">Speichern</button>
    </div>
    
   
      
    </div>
    
    <div style="display: none;" class="container my-tab position-absolute" id="articles">
      <h1 class="text-center">Alle Artikel</h1>
      <ul id="articles-list">
        
      </ul>
    </div>
    <div style="display: none;" class="container my-tab position-absolute" id="multiple-choice-question-html">
      <h2 class="text-center question-html">Dies ist eine Testfrage?</h2>
    
      <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-6">
          <div id="answers-html">
          </div>
          <button type="button" class="btn btn-primary mt-1 multiple-choice-submit-html">Absenden</button>
          <button type="button" style="display: none;" class="btn btn-primary mt-1 next-question">Nächste Frage</button>
        </div>
      </div>
    </div>
    <div style="display: none;" class="container my-tab position-absolute" id="quiz-results">
      <h1 class="text-center">Ergebnisse</h1>
      <p id="result"></p>
    </div>
    <div style="display: none;" class="container my-tab position-absolute" id="text-question-html">
      <h2 class="text-center question-html">Dies ist eine Testfrage?</h2>
    
      <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-6">
          <div id="answers-html">
            <input type="text" class="form-control" id="text-response">
          </div>
          <button type="button" class="btn btn-primary mt-1 text-submit-html">Absenden</button>
          <button type="button" style="display: none;" class="btn btn-primary mt-1 next-question">Nächste Frage</button>
        </div>
      </div>
    </div>
    <div style="display: none;" class="container my-tab position-absolute col-sm-6 offset-sm-3 col-md-4 offset-md-4 text-center" id="login">
      
      <h1>Anmelden</h1>
      <form id="login-form">
      
        <div class="form-group">
          <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
        </div>
  
      <div class="form-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
      </div>
  
      <button class="btn btn-primary" type="submit" id="login-button">Anmelden</button>
    </form>

      
    </div>
    <div style="display: none;" class="container-fluid my-tab position-absolute word-wrap" id="page">
      <div class="alert alert-warning mt-1 d-none" id="is-outdated-article" role="alert">
        Dies zeigt den Artikel zu einem bestimmten Zeitpunkt und ist somit nicht unbedingt aktuell! <a href="#" id="currentVersionLink" class="alert-link history-pushState">Zur aktuellen Version</a> 
      </div>
      <h1 class="text-center" id="wiki-article-title">title</h1>
      <article>
      </article>
      
      
      <div id="categories"></div>
      
      <div>
        <!--<button type="button" class="btn btn-outline-primary">Diskussion</button>-->
        <button id="show-history" type="button" class="btn btn-outline-primary">Änderungsverlauf</button>
      </div>
      <small>Dieses Werk ist lizenziert unter einer <a target="_blank" rel="license noopener" href="http://creativecommons.org/licenses/by-sa/4.0/deed.de">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.</small>
      

      
      
      
      
      
      
      
      
      
      
      
    </div>
    <div style="display: none;" class="container-fluid my-tab position-absolute" id="not-found">
      <div class="alert alert-danger" role="alert">
        Der Artikel konnte nicht gefunden werden. Möchtest du ihn <a id="create-article" href="#" class="alert-link">erstellen</a>?
      </div>
    </div>
    <div style="display: none;" class="container-fluid my-tab position-absolute" id="history">
      <h1 class="text-center">Änderungsverlauf</h1>
      <div class="list-group" id="history-list">
        
      </div>
    </div>
    <div style="display: none;" class="container-fluid my-tab position-absolute" id="search">
      <br>
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="search-query" placeholder="Suchbegriff">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-search"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div>
        <div style="display: none; left: 50%; margin-left: -1rem;" class="position-absolute" id="search-results-loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div style="display: none;" id="search-results">
          <div style="display: none;" class="text-center" id="no-search-results">
            <div class="alert alert-warning" role="alert">
              Es konnte kein Artikel mit genau diesem Titel gefunden werden. Möchtest du ihn <a id="search-create-article" href="#" class="alert-link history-pushState">erstellen</a>?
            </div>
          </div>
          <div class="list-group" id="search-results-content">
            
          </div>
        </div>
      </div>
    </div>
    <div class="my-tab position-absolute" style="top: 50%; left: 50%; margin-left: -1rem; margin-top: -1rem;" id="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div style="display: none;" class="container-fluid my-tab position-absolute" id="error">
      <div class="alert alert-danger" role="alert">
        <span id="errorMessage"></span> <a href="#" id="refresh" class="alert-link">Erneut versuchen</a>
      </div>
    </div>
    
    
    <div class="modal fade" id="publish-changes-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Änderungen veröffentlichen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Änderungszusammenfassung:</label><br>
                <textarea class="form-control" id="change-summary" rows="3"></textarea>
              </div>
            </form>
            <p>Mit dem Veröffentlichen dieses Artikels garantierst du, dass er nicht die Rechte anderer verletzt und bist damit einverstanden, ihn unter der <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a> zu veröffentlichen.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Bearbeitung fortsetzen</button>
            <button type="button" class="btn btn-primary" id="publish-changes">Änderungen veröffentlichen</button>
            <button id="publishing-changes" class="btn btn-primary" style="display: none;" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Veröffentlichen...
            </button>
            <!-- TODO Überprüfe deine Änderungen (diff) -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="uploadProgressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="progress">
              <div id="uploadProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="spickiLinkModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Spickipedia-Link einfügen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Anzeigetext</label><br>
                <input class="form-control" type="text" id="article-link-text"></input>
              </div>
              <div class="form-group">
                <label>Spickipedia-Artikel</label><br>
                <input class="form-control" type="text" id="article-link-title"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="publish-changes">Änderungen veröffentlichen</button>
          </div>
        </div>
      </div>
    </div>
    
          
      
      

<!-- Modal -->
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kategorien</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fertig">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
       
       <form class="form-inline" id="add-tag-form">
       
        <input id="new-category" class="form-control form-control-sm" type="text" placeholder="Kategorie...">
       </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fertig</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button> TODO implement this later that canceling also works -->
      </div>
    </div>
  </div>
</div>
    

    <script src="/jquery-3.3.1.js?v={% file-hash "static/jquery-3.3.1.js" %}"></script>
    
    <!-- for rendering math on articles -->
    <link rel="stylesheet" href="/mathlive.core.css?v={% file-hash "static/mathlive.core.css" %}">
    <link rel="stylesheet" href="/mathlive.css?v={% file-hash "static/mathlive.css" %}">
    <script src="/mathlive.js?v={% file-hash "static/mathlive.js" %}"></script>
        
    <script src="/popper.js?v={% file-hash "static/popper.js" %}"></script>
    <script src="/bootstrap.js?v={% file-hash "static/bootstrap.js" %}"></script>
     
    <script src="/visual-diff.js?v={% file-hash "static/visual-diff.js" %}"></script>
    
    {% for file in js-files %}
      <script src="{{file}}"></script>
    {% endfor %}
    <script src="/js/1_index.js?v={% file-hash "js/1_index.lisp" %}{% file-hash "src/parenscript.lisp" %}"></script>
    </body>
</html>
